*/runs/
*/venv/
*.pt

#classification 下
classification_model_train/
!classification_model_train/train_mahjong_classifier.py

#mahjong_agent下
mahjong_agent/__pycache__/
mahjong_agent/Image
mahjong_agent/models

#server下
server/photoes
server/server_A/dumps

#Unity下
Unity/*
!Unity/Assets/
Unity/Assets/*
!Unity/Assets/PassthroughCameraApiSamples/
Unity/Assets/PassthroughCameraApiSamples/*
!Unity/Assets/PassthroughCameraApiSamples/MultiObjectDetection/